
.containerClass{
    height: 500px;
    width: 500px;
    padding-top: 70px;
} 

.colorContainerH1{
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight:700;
    margin: 0 !important;
    color: #222222;
}

.colorContainerButton{
    font-family: "Open Sans", sans-serif;
    padding: 35px 20px;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 40px;
    text-transform: uppercase;
} 
.colorContainerP{
    font-family: "Open Sans", sans-serif;
    background-color: #222222;
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 5px;
    color: #ffff;
    width: 430px;
    margin-top: 40px;
}
.descriptionColorPicker{
    width: 430px;
font-size: 20px;
}
.normalColorBtn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: .5px solid white;
    background-color: #9a9ca6;
}

/* Traffic Light */
.trafficLightContainer{
    height: 600px;
    width: 500px;
    padding-top: 70px;
    background-color: #86d2f2;
}

.trafficContainerH1{
    font-family:  "Roboto", sans-serif;
    font-size: 60px;
    font-weight:700;
    margin: 0 !important;
    color: #222222;
    padding-bottom: 20px;
}
.totalAlertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.alertButton{
    display: flex;
    flex-direction: column;
    margin-right: 15px;

}
.alertButton>button{
    font-family:  "Roboto", sans-serif;
background-color: #1f1d41;
border: none;
color: white;
padding: 10px 20px;
margin: 25px 0px;
border-radius: 10px;
font-weight: 400;
font-size: 15px;
}
.lightIconContainer{
    border: 1px solid #1f1d41;
    margin-left: 15px;
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1d41;
    border-radius: 40px;
}

.lightIconContainer button{
height: 50px;
width: 50px;
border-radius: 50px;
margin: 20px 0px;
background-color: #4b5069;
border: none;
}

.normalBtn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;
    background-color: #878b9e;
    margin-top: 280px;
}

/* Seasons Switcher */
.containerImg{

}
.seasonImgH1{
    font-family:  "Roboto", sans-serif;
    font-size: 60px;
    font-weight:700;
    margin: 0 !important;
    color: #222222;
    padding-bottom: 20px;
}
.seasonImage{
background-image: cover;
height: 500px;
}
.imgButton{
margin: 10px 0;
}
.imageButton1{
    padding: 5px 28px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
    margin: 10px;
}
.imageButton2{
    padding: 5px 28px;
    border-radius: 10px;
    background-color: rgb(221, 203, 9);
    color: white;
    border: none;
    margin: 10px;

}
.imageButton3{
    padding: 5px 28px;
    border-radius: 10px;
    background-color: rgb(187, 36, 36);
    color: white;
    border: none;
    margin: 10px;

}
.imageButton4{
    padding: 5px 28px;
    border-radius: 10px;
    background-color: rgb(43, 117, 191);
    color: white;
    border: none;
    margin: 10px;
}
.normalImgBtn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: .5px solid white;
    background-color: #9a9ca6;
}

/* Toggle Like and Unlike */
.toggleH1Container{
    font-family:  "Roboto", sans-serif;
    font-size: 60px;
    font-weight:700;
    margin: 0 !important;
    padding-bottom: 20px;
}
.likeContainer{
    margin: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.likeFinger{
    font-size: 40px;
    color: #cbd2d9;
    margin: 10px;
}
.likeBtn{
    border: none;
    background-color: #cbd2d9;
    color: #9aa5b1;
    font-size: 15px;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
}

.normalLikeBtn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: .5px solid white;
    background-color: #9a9ca6;
    margin: 10px;
}

/* Tip Calculator  */
.calculatorContainer{
    width: 400px;
    background-color: #ebf4faee;
    height: max-content;
}
.calculatorH1{
    color:#1b4aa2;
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 400;
}
.formInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label{
    padding-left: 15px;
font-size: 15px;
text-transform: uppercase;
color: #9aa5b1;
}
input{
    width: 90%;
    margin: 0 15px;
    margin-bottom: 20px;
    border: 1px solid #c2c8ce;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}
.calculateButton{
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1b4aa2;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border: 1.5px solid #86d2f2 ;
    border-radius: 5px;
}
.normalCalculatorBtn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: .5px solid white;
    background-color: #9a9ca6;
    margin-top: 5px;
    margin-left: 25px;
}

/* Sizing an Image */
